Hi <%= firstName %> <%= lastName %>,
You have been added as Patient in <%= hospitalName %> Hospital.
Please click <a href="<%= resetPasswordLink %>">here</a> to set your password.
You can log in to the <a href="<%= loginLink %>">Dashboard</a> once you set your password.


Best regards,
POYV Team